@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
    h2
    {
        font-size: 44px;
    }
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
    h1
    {
        font-size: 64px;
    }
    h2
    {
        font-size: 44px;
    }
    .button
    {
        font-size: 28px;
    }
    .header_inner
    {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-logo img
    {
        width: 52px;
        height: 57px;
    }
    .header-logo span
    {
        font-size: 26px;
    }
    .menu_header_inner
    {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .menu_nav ul li a
    {
        font-size: 72px;
    }
    .hamburger_container
    {
        width: 66px;
        height: 46px;
    }
    .hamburger > span
    {
        height: 3px;
    }
    .contact_form_container 
    {
        margin-top: 75px;
    }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
    h1
    {
        font-size: 52px;
    }
    h2
    {
        font-size: 32px;
    }
    p
    {
        font-size: 20px;
    }
    .header_inner
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header-logo img
    {
        width: 44px;
        height: 48px;
    }
    .header-logo span
    {
        margin-left: 4px;
    }
    .menu_header_inner
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .menu_nav ul li:not(:last-child)
    {
        margin-bottom: 20px;
    }
    .menu_nav ul li a
    {
        font-size: 52px;
    }
    .button
    {
        height: 64px;
        padding-left: 33px;
        padding-right: 33px;
        border-radius: 16px;
        font-size: 24px;
        line-height: 67px;
        margin-top: 31px;
    }
    .contact_form > div
    {
        gap: 0;
        flex-direction: column !important;
    }
    .contact_form_container
    {
        margin-top: 53px;
    }
    .contact_form
    {
        padding-left: 36px;
        padding-right: 36px;
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.contact_form
    {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 32px;
        padding-bottom: 36px;
    }
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}