@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Menu
4. Header
5. Work Video



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap');

/*********************************
2. Body and some general stuff
*********************************/

:root
{
	--font1: "Baloo Chettan 2", sans-serif;
	--white: #ffffff;
	--black: #000000;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body
{
	font-family: var(--font1);
	font-size: 16px;
	font-weight: 400;
	background: var(--black);
	color: #ffffff;
}
body.no-scroll
{
    overflow: hidden;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
	padding-left: 0;
}
p
{
	font-family: var(--font1);
	font-size: 24px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--textColor);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	margin-bottom: 0;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	
}
p a:hover::after
{
	
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 24px;}
h2{font-size: 20px;}
h3{font-size: 16px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: var(--font1);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.1;
	margin-bottom: 0;
	font-weight: 700;
	letter-spacing: 0.006em;
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.visually-hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	white-space: nowrap;
}
.light-theme
{
	background-color: #ffffff;
}
.dark-theme
{
	background-color: #000000;
}
.button
{
	display: inline-block;
	height: 72px;
	background-color: #00FF26;
	padding-left: 33px;
	padding-right: 33px;
	border-radius: 20px;
	font-size: 32px;
	font-weight: 400;
	color: #000000;
	line-height: 75px;
	margin-top: 31px;
}
.button:hover
{
	background-color: #000000;
	color: #ffffff;
}
video
{
	width: 101%;
	height: 101%;
	object-fit: cover;
	object-position: center;
	-webkit-transform: translateX(-0.5%);
	-moz-transform: translateX(-0.5%);
	-ms-transform: translateX(-0.5%);
	-o-transform: translateX(-0.5%);
	transform: translateX(-0.5%);
}
.video_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*********************************
3. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #00FF26;
	pointer-events: none;
	opacity: 0;
	z-index: 1001;
	overflow-y: auto;
    overflow-x: hidden;
}
.menu.active
{
	pointer-events: all;
	opacity: 1;
}
.menu_inner
{
	width: 100%;
	height: 100%;
}
.menu_header_inner
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 64px;
	padding-right: 69px;
	padding-top: 45px;
	padding-bottom: 52px;
}
.close
{
	width: 64px;
	height: 64px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	border: none;
	transform: rotate(45deg);
}
.close > span
{
	position: relative;
	width: 100%;
	height: 100%;
}
.close > span span
{
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	height: 4px;
	background-color: #ffffff;
}
.close > span span:last-child
{
	transform-origin: 50% 50%;
	transform: translateY(-50%) rotate(-90deg);
}
.menu_header_inner
{
	z-index: 1;
}
.menu_nav
{
	width: 100%;
	padding-top: 251px;
}
.menu_nav ul li a
{
	font-size: 84px;
	font-weight: 700;
	letter-spacing: 0.006em;
	color: #000000;
	line-height: 1.1;
}
.menu_nav ul li a:hover
{
	color: #ffffff;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 30px;
}

/*********************************
4. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.header-logo img
{
	width: 77px;
	height: 84px;
}
.header.light .header-logo img
{
  	content: url('../images/logo_black.svg');
}
.header.light .header-logo span
{
	color: black;
}
.header.dark .header-logo img
{
  	content: url('../images/logo_white.svg');
}
.header.dark .header-logo span
{
	color: white;
}
.header_inner
{
	padding-left: 64px;
	padding-right: 64px;
	padding-top: 46px;
	padding-bottom: 46px;
}
.header-logo span
{
	font-size: 34px;
	font-weight: 400;
	color: #ffffff;
}
.hamburger_container
{
	position: relative;
	width: 74px;
	height: 50px;
	padding: 10px;
	cursor: pointer;
}
.hamburger
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	outline: none;
}
.hamburger > span
{
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
}
.header.light .hamburger > span
{
	background-color: black;
}
.header.dark .hamburger > span
{
	background-color: white;
}
.hamburger > span:first-child
{
	top: 0;
}
.hamburger > span:nth-child(2)
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hamburger > span:last-child
{
	bottom: 0;
}
.header.scrolled .header_social_container
{
	display: none;
}
.header.scrolled .header-logo span
{
	display: none;
}
.header_social
{
	gap: 12px;
	margin-right: 31px;
}
.header_social li a
{
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #00ff26;
	text-align: center;
}
.header_social li a:hover
{
	background-color: #ffffff;
}
.header_social li a i
{
	font-size: 20px;
	line-height: 34px;
	color: #000000;
}

/*********************************
5. Work Video
*********************************/

.video_section
{
	padding-top: 305px;
	padding-bottom: 234px;
}
.video_container_outer
{
	width: 100%;
    height: auto;
    aspect-ratio: 1920 / 1088;
    overflow: hidden;
    cursor: pointer;
}
.video_container
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.play_button
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 53px;
	height: 62px;
	outline: none;
	border: none;
	background-color: transparent;
}
.play_button svg
{
	display: block;
	width: 100%;
	height: 100%;
}
.play_button.hide
{
	display: none !important;
}
.video_overlay
{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    background: rgba(0,0,0,0); /* Transparent but clickable */
}
.video_content
{
	margin-top: 44px;
}
.video_content > *
{
	display: block;
	position: relative;
}
.work_client
{
	margin-top: 38px;
}
.work_description
{
	margin-top: 34px;
}
.work_meta
{
	margin-top: 34px;
}

/*********************************
11. Footer
*********************************/

.footer
{
	
}